<h2>Choose a difficulty</h2>

<form action="/game">
<a href="/game?difficulty=10"><button>Easy</button></a>
 <a href="/game?difficulty=8"><button type="button" name="difficulty">Medium</button></a>
<a href="/game?difficulty=6"> <button type="button" name="difficulty">Difficult</button></a>
</form>